<div class="container">
    <form action="">
        <div class="form-control">
            <label for="firstCurrency">First Currency</label>
            <select name="firstCurrency" id="firstCurrency">
                <option value="USR">Dólar Comercial(USR)</option>
            </select>
        </div>
        <div class="form-control">
            <label for="secondCurrency">Second Currency</label>
            <select name="secondCurrency" id="secondCurrency">
                <option value="USR">Dólar Comercial(USR)</option>
            </select>
        </div>
        <div class="form-control">
            <label for="comparativeType">Comparative Type</label>
            <input type="radio" name="comparativeType"> Days
            <input type="radio" name="comparativeType"> Dates
        </div>
        <div class="form-control">
            <label for="numberDays">Number Of Days</label>
            <input type="number" name="numberDays" id="numberDays">
        </div>
        <div class="form-control">
            <label for="initialDate">Initial Date</label>
            <input type="datetime-local" id="initialDate" name="initialDate">
        </div>
        <div class="form-control">
            <label for="finalDate">Final Date</label>
            <input type="datetime-local" id="finalDate" name="finalDate">
        </div>
    </form>
</div>