.currency-selector {
    display: flex;
    align-items: center;
    height: 170px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.selector-container {
    padding: 0;
    display: flex;
    align-items: center;
}

.scroller {
    display: flex;
    align-items: center;
    padding: 5px;
    min-height: 100px;
    background-color: white;
}

.back {
    cursor: pointer;
    margin-right: 8px;
}

.next {
    cursor: pointer;
    margin-left: 8px;
}