<div class="selector-container">
    <div class="scroller back" (click)="onClickBack()">
        <fa-icon [icon]="faAngleLeft" [size]="'2x'" [class]="'icon'"></fa-icon>
    </div>
    <div class="currency-selector" id="currency-selector">
        <div *ngFor="let item of currencyTypes">
            <div class="card-quote" (click)="onEmitAtivacaoCard(item)" [ngClass]="{'active': activeCurrencyCode === item.code}">
                <div class="card-quote-header">
                    <div>
                        <h3>{{ item.code }}</h3>
                        <p>{{ item.name }}</p>
                    </div>
                    <fa-icon [icon]="faWallet" [size]="'lg'" [class]="'icon'"></fa-icon>
                </div>
                <div class="card-quote-body">
                    <p>{{ item.ask | currency:'BRL':true }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="scroller next" (click)="onClickNext()">
        <fa-icon [icon]="faAngleRight" [size]="'2x'" [class]="'icon'"></fa-icon>
    </div>
</div>